package main

import (
	"log/slog"
	"{{ .Module }}/pkg/{{ .Package }}"
)

func main() {
	machine := {{ .Package }}.New()
	runner := {{ .Package }}.Runner{
		StateMachine: *machine,
		Context: &{{ .Package }}.Context{
			// Log: slog.New(slog.NewJSONHandler(os.Stdout, nil)),
			Log: slog.Default(),
		},
		State:   &{{ .Package }}.ExtendedState{},
		Actions: {{ .Package }}.AllActions,
		Guards:  {{ .Package }}.AllGuards,
	}

	runner.Run()
}
